@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Regular.woff') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Bold.woff') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Extrabld.woff') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Semibold.woff') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
